<link rel="stylesheet" href="/css/notification.css">

<main class="notifications col-11 col-md-8 col-lg-5 pe-3 ps-3">
    <header>
        <h1>Notifications</h1>
        <button class="mark-read" onclick="markAllAsRead()">Mark all as read</button>
    </header>
    <div class="notification-settings">
        <div class="left-settings">
            <a href="" class="tab active" data-tab="all">All</a>
            <a href="" class="tab" data-tab="unread">Unread</a>
        </div>
        <div class="right-settings">
            
        </div>
    </div>
    <div class="notifications-container">
        {{#each notifications}}
        <div class="notification-item" 
            data-read="{{#if (eq status 'read')}}true{{else}}false{{/if}}"
            data-id="{{_id}}"
            data-type="{{type}}"
            data-post-id="{{#if (eq type 'comment_post')}}{{attachment._id}}
                            {{else if (eq type 'like_post')}}{{attachment._id}}
                            {{else}}{{attachment.post_id}}{{/if}}"
            data-comment-id="{{#if (eq type 'like_comment')}}{{attachment._id}}{{/if}}">
        <div class="overlay"></div>
        <div class="profile-pic">
            <img src="{{sender_id.profile_pic_url}}" alt="Profile Picture">
        </div>
        <div class="notification-text">
            <p>
                <a href="/profile/{{sender_id.username}}" class="notification-username">{{sender_id.username}}</a>
                <span> • </span>
                <span class="time">{{timeAgo}}</span>
            </p>
            <p>
                {{#if (eq type 'comment_post')}}
                    commented on your post: <span class="post-content">{{attachment.content}}</span>
                {{else if (eq type 'like_post')}}
                    liked your post: <span class="post-content">{{attachment.content}}</span>
                {{else if (eq type 'like_comment')}}
                    liked your comment: <span class="post-content">{{attachment.content}}</span>
                {{else if (eq type 'following')}}
                    started following you
                {{/if}}
            </p>
        </div>

        {{#if attachment.media.urls}}
            <div class="post-pic">
                <img src="{{attachment.media.urls.[0]}}" alt="Post Image">
            </div>
        {{/if}}
        <div class="noti-setting-wrapper">
            <div class="noti-setting-icon-wrapper">
                <img src="/images/icon/notification-setting.svg" alt="noti-setting" class="noti-setting-icon">
            </div>
            <div class="noti-menu hidden">
                <button id="toggle-status" class="menu-item" 
                    onclick="toggleNotificationStatus('{{_id}}', {{#if (eq status 'read')}}true{{else}}false{{/if}}, this)">
                    {{#if (eq status 'read')}}
                        <img src="/images/icon/tick.svg" alt="mark-read-noti" class="setting-menu-icon">
                        <p>Mark as Unread</p>
                    {{else}}
                        <img src="/images/icon/untick.svg" alt="mark-unread-noti" class="setting-menu-icon">
                        <p>Mark as Read</p>
                    {{/if}}
                </button>
                <button class="menu-item" onclick="deleteNotification('{{_id}}')">
                    <img src="/images/icon/trash-can.svg" alt="delete-noti" class="setting-menu-icon">
                    Delete
                </button>
            </div>
        </div>
        </div>
        {{/each}}
    </div>
</main>

<script src="/script/notification.js"></script>